[mysqld]
max_connections=5000
#wait_timeout=15
default-authentication-plugin=mysql_native_password
symbolic-links=0
key_buffer_size=128M
max_allowed_packet=1024M
sort_buffer_size=4M
read_buffer_size=4M
read_rnd_buffer_size=4M
myisam_sort_buffer_size=64M
thread_cache_size=8
